@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0.875rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img:not(.nav-logo) {
    width: 100%;
    display: block;
}


/* navbaar */

.navbar {
    height: 5rem;
    padding: 1rem;
    display: grid;
    align-items: center;
    transition: all .3s linear;
}

.nav-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.nav-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.nav-btn {
    background: transparent;
    border-color: transparent;
    color: hsl(42, 78%, 60%);
    font-size: 2rem;
    cursor: pointer;
    justify-self: end;
}

.nav-links {
    display: none;
}

@media screen and (min-width:768px) {
    .navbar {
        background: hsl(45, 100%, 96%);
    }

    .nav-btn {
        display: none;
    }

    .nav-links {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        column-gap: 2rem;
        justify-self: end;
    }

    .nav-links a {
        font-size: 1rem;
        color: hsl(209, 61%, 16%);
        font-weight: bolder;
        letter-spacing: 0.25rem;
        transition: all 0.3s linear;
    }

    .nav-links a:hover {
        color: hsl(42, 78%, 60%);
    }

    .nav-center {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }
}

/* .sidebar */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(197, 24%, 29%);
    z-index: 999;
    display: grid;
    place-items: center;
    transition: all 0.3s linear;
    transform: translateX(-100%);
}

.show-sidebar {
    transform: translateX(0);
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    color: #fefa05;
    background: transparent;
    border: transparent;
    cursor: pointer;
}

.sidebar-links {
    text-align: center;
}

.sidebar-links a {
    display: inline-block;
    color: hsl(71, 83%, 75%);
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.25rem;
    transition: all 0.3s linear;
}

.sidebar-links a:hover {
    color: hsl(128, 98%, 50%);
}

.social-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    width: 20rem;
}

.social-icons a {
    font-size: 2rem;
    color: hsl(209, 61%, 16%);
    transition: all 0.3s linear;
}

.social-icons a:hover {
    color: yellow;
}


/* .hero {
    background: black;
} */